venv
*.pyc
staticfiles
.env
.idea
db.sqlite3

versilia/static/js/makeup.js
versilia/static/js/news.png
versilia/static/js/main.png
versilia/static/js/assortiment.png
vapp/migrations
vapp/uploaded/
versilia/settings_dev.py

