{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} О НАС {% endblock %}

{% block page_header_text %} О НАС {% endblock %}

{% block content %}
    <div id="about-page">
        <p>
            Компания “Версилия” – молодое, динамично развивающиеся предприятие, успевшее зарекомендовать себя на рынке кондитерских изделий России как весьма перспективный партнер. Наше предприятие выпускает кондитерские изделия из слоеного, песочного, сдобного и бисквитного теста, а также, пирожные с длительным сроком хранения. Наш ассортимент порадует Вас своим разнообразием и оригинальностью!
        </p>
        <p>
            Наша гордость – итальянская линейка печенья, разработанная итальянскими технологами и кондитерами по оригинальным рецептурам. Мы рады представить Вам лучшие образцы домашней итальянской выпечки. В них Вы почувствуете запах жарких полей Тосканы, прохладу предальпийских лугов, горячее сицилийское солнце и жгучую неаполитанскую страсть!
        </p>
        <p>
            Для тех, кто устал от сладкого предлагаем слоеные палочки “Парма” с сыром, луком, солью, чесноком и беконом.
        </p>
        <p>
            В нашем ассортименте также присутствует традиционные, всеми любимые сорта печенья, которые Вы можете увидеть на нашем сайте.
        </p>
        <p>
            Особо выделим линейку пирожных, имеющих срок реализации 30 дней и сохраняющих свой чудесный вкус. И как обычно, все отличного качества.
        </p>
        <p>
            Вы можете по достоинству оценить оригинальную дизайнерскую фасовку итальянского печенья, а так же выбрать традиционную фасовку в корексе.
        </p>
        <p>
            Наши менеджеры по продажам всегда готовы предоставить Вам полную информацию по продукции, и ответить на все вопросы по совместной работе. Гибкая система скидок и спецпредложения, которые у нас всегда есть для Вас, пойдут на пользу Вашим продажам.
        </p>
        <p>
            Мы рады новым партнерам и приглашаем к взаимовыгодному сотрудничеству.
        </p>
    </div>
{% endblock %}
