{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} О НАС {% endblock %}

{% block page_header_text %} О НАС {% endblock %}

{% block content %}
    <div id="about-page">
        <p>
            Компания “Версилия” – молодое, динамично развивающиеся предприятие, которое выпускает
            кондитерские изделия из слоеного, песочного, бисквитного теста и творожного теста,
            а также, пирожные с длительным сроком реализации.
        </p>
        <p>
            Несмотря на кризис, год 2015 - год активного и успешного развития нашей компании.
            Покупка нового оборудования, автоматизация производства, интересные разработки наших технологов
            позволяют нам выпускать качественную, вкусную и разнообразную продукцию.
        </p>
        <p>
            Гордость нашего ассортимента - <strong>"Крымская"</strong> серия пирогов с начинкой:
            <strong>"Крымское яблочко",</strong>
            <strong>"Крымская малинка",</strong>
            <strong>"Крымский лимончик"</strong> которые не имеют аналогов на рынке.
        </p>
        <p>
            Наше правило, которому мы следуем всегда - продукт должен быть вкусным, содержать только качественные
            ингредиенты и быть максимально приближенным к домашней выпечке.
        </p>
        <p>
            При этом, мы реализуем нашу качественную продукцию по очень приемлемым ценам. Поэтому наши продукты
            любят и охотно покупают потребители. География наших продаж от Санкт-Петербурга до Комсомольск-на-Амуре.
            Наша продукция достойно представлена в ведущих федеральных сетях России - X5 Retail Group, Магнит, Дикси.
        </p>
        <p>
            Мы всегда открыты для сотрудничества с нашими партнерами !
        </p>
    </div>
{% endblock %}
