{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} Assortiment {% endblock %}

{% block head %}
    <script src="{% static 'js/makeup.js' %}"></script>
{% endblock %}

{% block page_header_text %} АССОРТИМЕНТ {% endblock %}

{% block content %}

    <nav id="main-menu" class="navbar navbar-default assortiment-menu">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="x-active"><a href="javascript:void(0)">ПЕЧЕНЬЕ СДОБНО-СЛОЕНОЕ</a></li>
                <li><a href="javascript:void(0)">ПЕЧЕНЬЕ ПЕСОЧНОЕ</a></li>
                <li><a href="javascript:void(0)">ПЕЧЕНЬЕ СДОБНОЕ ТВОРОЖНОЕ</a></li>
                <li><a href="javascript:void(0)">КРУАССАНЫ</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}
