{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} АССОРТИМЕНТ {% endblock %}
{% block page_header_text %} АССОРТИМЕНТ {% endblock %}

{% block content %}

    <nav id="main-menu" class="navbar navbar-default assortiment-menu">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% for category in categories %}
                    <li {% if page_id == category.id %} class="x-active" {% endif %}>
                        <a href="{% url 'assortiment' category.id %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>

    <div id="assort-block" class="container-fluid assort-page">
        {% for cookie_row in cookies %}
            <div class="row x-assort-page-row">
                {% for cookie in cookie_row %}
                    <div class="col-sm-4 x-assort-page-col">
                        <div class="x-frame">
                            <span class="x-helper"></span>
                            <img class="cake-img" src='{{ cookie.img }}' alt="cookie">
                        </div>
                        <h4>{{ cookie.name | upper }}</h4>
                        <img class="icon-img" src="{% static 'images/assort-icon-1.png' %}" alt="icon">
                        <table>
                            {% if cookie.pcs_weight %}
                            <tr>
                                <td>Вес единицы</td>
                                <td>{{ cookie.pcs_weight }} {{ cookie.weight_units }}</td>
                            </tr>
                            {% endif %}
                            {% if cookie.pcs_per_box %}
                            <tr>
                                <td>Единиц в ящике</td>
                                <td>{{ cookie.pcs_per_box }}</td>
                            </tr>
                            {% endif %}
                            {% if cookie.shelf_life %}
                            <tr>
                                <td>Срок реализации</td>
                                <td>{{ cookie.shelf_life }} дней</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
