{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} КОНТАКТЫ {% endblock %}

{% block page_header_text %} КОНТАКТЫ {% endblock %}

{% block content %}
    <div id="contact-page">
        <div class="x-content">
            {% autoescape off %}
                {{ page.text }}
            {% endautoescape %}
        </div>
        <div id="ymap">
            <p>Схема проезда:</p>
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3wd8L3a1-Q-Nzmkexplv8R32qa4Q6GQa&width=600&height=450"></script>
        </div>
    </div>
{% endblock %}
