{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block title %} ВАКАНСИИ {% endblock %}

{% block page_header_text %} ВАКАНСИИ {% endblock %}

{% block content %}
    <div id="job-page">
        <p>Вакансии ООО «ВЕРСИЛИЯ»:</p>
        <ol>
            <li>Менеджер по региональным продажам</li>
            <li>Кондитер</li>
            <li>Технолог</li>
        </ol>
        <p>Резюме направляйте по эл.почте: <a href="mailto:hr@piccolospb.ru">hr@piccolospb.ru</a></p>
        <p>Контактный телефон: 749-87-19</p>
    </div>
{% endblock %}
