{% extends 'vapp/page_base.html' %}
{% load staticfiles %}
{% block meta %}
    {% if news.meta_keywords %}
        <meta name="keywords" content="{{ news.meta_keywords }}" />
    {% endif %}
    {% if news.meta_description %}
        <meta name="description" content="{{ news.meta_description }}" />
    {% endif %}
{% endblock %}
{% block title %}
    {% if news.title %}
        {{ news.title }}
    {% else %}
        НОВОСТИ
    {% endif %}
{% endblock %}
{% block page_header_text %} НОВОСТИ {% endblock %}

{% block content %}
    <div class="container-fluid news-block">
        {% if news %}
        <div class="row news-row">
            <div class="col-sm-12 news-row-in">
                <h3 class="header-news-page">{{ news.header | upper }}</h3>
                <div class="date">
                    <span>{{ news.date }}</span>
                </div>
                <div class="news-block-p">
                    {% if news.img %}
                    <img class="news-img" src="{{ news.img }}" alt="news image">
                    {% endif %}
                    <div class="full-news-text">
                        {% autoescape off %}
                        {{ news.text }}
                        {% endautoescape %}
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if news_page %}
            {% for news in news_page %}
                <div class="row news-row">
                    <div class="col-sm-12 news-row-in">
                        <h3 class="header-news-page">{{ news.header | upper }}</h3>
                        <div class="date">
                            <span>{{ news.date }}</span>
                        </div>
                        <div class="news-block-p">
                            {% if news.img %}
                            <img class="news-img" src="{{ news.img.url }}" alt="news image">
                            {% endif %}
                            <div class="full-news-text">
                                {% autoescape off %}
                                {{ news.text }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row x-pagination">
                <div class="col-sm-12 text-center">
                    <nav>
                        <ul class="pagination pagination-lg">
                            {% if news_page.has_previous %}
                                <li>
                                    <a href="{% url 'news_pages' news_page.previous_page_number %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for n_page in news_page.paginator.page_range %}
                                <li {% if news_page.number == n_page %}class="active"{% endif %}>
                                    <a href="{% url 'news_pages' n_page %}">{{ n_page }}</a>
                                </li>
                            {% endfor %}
                            {% if news_page.has_next %}
                                <li>
                                    <a href="{% url 'news_pages' news_page.next_page_number %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
