{% extends 'vapp/page_base.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/makeup.js' %}"></script>
{% endblock %}

{% block title %} НОВОСТИ {% endblock %}
{% block page_header_text %} НОВОСТИ {% endblock %}

{% block content %}
    <div class="container-fluid news-block">
        <div class="row news-row">
            <div class="col-sm-12 news-row-in">
                <h3>НАЗВАНИЕ НОВОСТИ</h3>
                <div class="date">
                    <span>22 Апреля 11:25</span>
                </div>
                <div class="news-block-p">
                    <img class="news-img" src="{% static 'images/news-img.jpg' %}" alt="news image">
                    <p class="full-news-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia nec augue in viverra.
                        Maecenas quis egestas risus, eu fermentum urna. Pellentesque cursus ex sagittis,
                        sollicitudin libero blandit, suscipit velit. Proin rhoncus, nunc fermentum fringilla mattis,
                        magna sem ultrices odio, eu ullamcorper tortor ex vel nisl. Integer auctor justo in lectus
                        tincidunt, eget facilisis lacus fringilla. Pellentesque id mi et augue tincidunt pulvinar vitae
                        nec nulla. Nam ut leo hendrerit, lobortis urna ac, pharetra ligula. Cras est arcu, dignissim
                        nec risus imperdiet, congue tristique tortor. Proin ut sem vel odio scelerisque aliquet.
                        Praesent eu quam ac mi aliquam porttitor at ut ligula. Pellentesque semper
                        tempor finibus. <br>

                        Aenean tempus mollis nisi, nec auctor mi consectetur et. Nulla eget ornare nisi, ac tempus lacus. Donec quis nunc dui. Morbi finibus
                        magna sed facilisis euismod. Sed sit amet urna sagittis, viverra lorem id, tincidunt ante. Proin facilisis viverra leo, sit amet accumsan
                        nunc semper porta. Sed est leo, ultricies vitae massa eget, scelerisque vehicula nisi. Nulla leo metus, laoreet non quam ac, rhoncus
                        commodo elit. Sed mi enim, auctor id tristique ac, consectetur sit amet nisi. Quisque sapien massa, placerat quis mi eget, dapibus
                        luctus felis. Donec erat diam, elementum id enim nec, pharetra mattis felis. In lacinia nisi augue, eu rhoncus lorem suscipit vel. Nam
                        at dolor ut magna pharetra porta a eu mi. Sed condimentum nisl ut eros venenatis, at fermentum eros vulputate.
                    </p>
                </div>

            </div>
        </div>
        <div class="row news-row">
            <div class="col-sm-12 news-row-in">
                <h3>НАЗВАНИЕ НОВОСТИ</h3>
                <div class="date">
                    <span>22 Апреля 11:25</span>
                </div>
                <div class="news-block-p">
                    <img class="news-img" src="{% static 'images/news-img.jpg' %}" alt="news image">
                    <p class="full-news-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia nec augue in viverra.
                        Maecenas quis egestas risus, eu fermentum urna. Pellentesque cursus ex sagittis,
                        sollicitudin libero blandit, suscipit velit. Proin rhoncus, nunc fermentum fringilla mattis,
                        magna sem ultrices odio, eu ullamcorper tortor ex vel nisl. Integer auctor justo in lectus
                        tincidunt, eget facilisis lacus fringilla. Pellentesque id mi et augue tincidunt pulvinar vitae
                        nec nulla. Nam ut leo hendrerit, lobortis urna ac, pharetra ligula. Cras est arcu, dignissim
                        nec risus imperdiet, congue tristique tortor. Proin ut sem vel odio scelerisque aliquet.
                        Praesent eu quam ac mi aliquam porttitor at ut ligula. Pellentesque semper
                        tempor finibus. <br>

                        Aenean tempus mollis nisi, nec auctor mi consectetur et. Nulla eget ornare nisi, ac tempus lacus. Donec quis nunc dui. Morbi finibus
                        magna sed facilisis euismod. Sed sit amet urna sagittis, viverra lorem id, tincidunt ante. Proin facilisis viverra leo, sit amet accumsan
                        nunc semper porta. Sed est leo, ultricies vitae massa eget, scelerisque vehicula nisi. Nulla leo metus, laoreet non quam ac, rhoncus
                        commodo elit. Sed mi enim, auctor id tristique ac, consectetur sit amet nisi. Quisque sapien massa, placerat quis mi eget, dapibus
                        luctus felis. Donec erat diam, elementum id enim nec, pharetra mattis felis. In lacinia nisi augue, eu rhoncus lorem suscipit vel. Nam
                        at dolor ut magna pharetra porta a eu mi. Sed condimentum nisl ut eros venenatis, at fermentum eros vulputate.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
