body, html {
    height: 100%;
}

.main-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto -309px;
    font-family: Roboto, sans-serif;
    min-height: 100%;
}

.main-wrapper:after {
    content: '';
    display: block;
    height: 350px;
}

.main-logo-bar {
    height: 151px;
}

.main-logo-bar img {
    margin-left: 82px;
    margin-top: 7px;
}

.x-float-left {
    float: left;
}

.header-gray {
    background-color: #ededed;
}

.green-text {
    color: #287c1f;
}

#header-phone {
    background: url('../images/phone-icon.png') no-repeat;
    background-position-y: center;
    margin-top: 62px;
    margin-left: 21px;
    padding-left: 33px;
}

.phone-text {
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

#top-bar {
    height: 51px;
}

/* * * * * * *
 * main-menu *
 * * * * * * */

#main-menu {
    font-size: 24px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #ededed;
}

#main-menu.assortiment-menu {
    font-size: 16px;
    font-weight: 300;
}

#main-menu ul {
    margin-top: 1px;
    margin-left: 10px; /* 59 px */
}

#main-menu.assortiment-menu ul {
    margin-left: 10px;
}

#main-menu.assortiment-menu ul li:hover {
    font-weight: 400;
    background-color: #ededed;
    padding: 29px 21px;
}

#main-menu ul li, #main-menu.assortiment-menu ul li.x-active {
    padding: 29px 22px;
}

#main-menu.assortiment-menu ul li.x-active {
    background-color: inherit;
}

#main-menu ul li a {
    padding: 0;
    color: #333333;
}

#main-menu ul li:hover, #main-menu ul li.x-active {
    background-color: #e4e4e4;
}

#main-menu ul li.x-active:hover {
    background-color: #ededed;
}

#main-menu a:hover, #main-menu a:focus {
    text-decoration: none;
}

/* * * * * * *
 * carousel  *
 * * * * * * */

#my-carousel ol {
    bottom: 0;
    left: 640px;
}

#my-carousel .carousel-inner .item img {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    max-height: 491px;
}

#my-carousel ol li {
    border-color: #bfbfbf;
    background-color: #bfbfbf;
    width: 14px;
    height: 14px;
    margin: 0 3px;
}

#my-carousel ol li.active {
    border-color: #287c1f;
    background-color: #287c1f;
}

#my-carousel a.x-carousel-action:hover {
    text-decoration: none;
    color: #749471;
}


#my-carousel a.x-carousel-action:focus {
    text-decoration: none;
    color: #749471;
}

#my-carousel .x-carousel-action .x-carousel-action-desc {
    color: white;
    background-image: -moz-radial-gradient(center center, ellipse closest-corner, rgba(110, 110, 110, 0.8), rgba(0, 0, 0, 0) 75%);
    background-image: -webkit-radial-gradient(center center, ellipse closest-corner, rgba(110, 110, 110, 0.8), rgba(0, 0, 0, 0) 75%);
    background-image: -o-radial-gradient(center center, ellipse closest-corner, rgba(110, 110, 110, 0.8), rgba(0, 0, 0, 0) 75%);
    background-image: -ms-radial-gradient(center center, ellipse closest-corner, rgba(110, 110, 110, 0.8), rgba(0, 0, 0, 0) 75%);
    background-image: radial-gradient(center center, ellipse closest-corner, rgba(110, 110, 110, 0.8), rgba(0, 0, 0, 0) 75%);
}

#my-carousel .x-carousel-action h3 {
    font-size: 30px;
}

#my-carousel .x-carousel-action p {
    font-size: 25px;
}

#my-carousel .x-carousel-action .x-carousel-action-desc h3:hover {
    text-shadow: 1px 1px 2px black;
}

/* * * * * * * *
 * news-block  *
 * * * * * * * */

#news-block {
    margin-top: 19px;
}

#news-block h3, #assort-block h3, .news-block h3 {
    margin-left: 31px;
    font-weight: 300;
    font-size: 26px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    width: 270px;
}

.news-block h3.header-news-page {
    width: auto;
}

#news-block .x-row {
    margin-top: 40px;
    margin-left: 17px;
}

#news-block h4 {
    margin-top: 18px;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 300;
}

#news-block p {
    font-size: 16px;
    color: #888888;
    margin-bottom: 15px;
    line-height: 19px;
}

#news-block p:first-letter {
    color: #ffffff;
    background-color: #287c1f;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 8px;
    margin-right: 7px;
    float: left;
}

#news-block .x-news-col {
    padding: 0;
    width: 370px;
    margin-left: 16px;
    margin-right: 14px;
}

#news-block .date, .news-block .date {
    background: url('../images/calendar-icon.png') no-repeat;
    background-position-y: 1px;
    padding-left: 21px;
    color: #287c1f;
    font-size: 14px;
    font-weight: 300;
}

.x-button {
    background-color: #287c1f;
    border: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    display: block;
    padding: 11px 18px 10px;
}

.x-button:hover {
    background-color: #21621A;
}

#news-block .x-news-col a:hover, #assort-block .x-assort-col a:hover {
    text-decoration: none !important;
}

#news-block .x-news-col a h4 {
    color: #333333;
}

#news-block .x-news-col a:hover p {
    text-decoration: underline;
}

#news-block .x-button {
    margin: 36px auto 34px;
}

div.news-block img.news-img {
    float: left;
    margin-right: 31px;
    margin-bottom: 15px;
}

div.news-block div.full-news-text {
    font-size: 20px;
    font-weight: 300;
    color: #888888;
    line-height: 26px;
}

div.news-block div.full-news-text * {
    border: none;
}

div.news-block .news-block-p {
    margin-top: 22px;
    margin-left: 32px;
    margin-right: 30px;
}

div.news-block .news-row {
    margin-top: 20px;
}

div.news-block .news-row .news-row-in {
    position: relative;
}

div.news-block .news-row .news-row-in h3 {
    display: inline-block;
    margin-top: 20px;
}

div.news-block .news-row .news-row-in .date {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 59px;
}

/* * * * * * * * *
 * assort-block  *
 * * * * * * * * */

#assort-block h3 {
    margin-bottom: 3px;
}

#assort-block nav {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 300;
}

#assort-block ul li a {
    padding: 15px 16px;
}

#assort-block ul li.x-active a, #main-menu ul li.x-active a {
    font-weight: 400;
    color: #287c1f;
}

#assort-block .x-assort-row .x-assort-col .x-frame {
    float: left;
    clear: left;
    border: 1px solid #b7b7b7;
    margin-right: 30px;
    margin-top: 8px;

    width: 130px;
    height: 130px;
    white-space: nowrap;
    text-align: center;
}

#assort-block .x-assort-row .x-assort-col .x-frame .x-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#assort-block .x-assort-row .x-assort-col .x-frame img {
    margin: 0;
    vertical-align: middle;
    max-width: 125px;
    max-height: 125px;
    float: none;
}

#assort-block img {
    float: left;
}

#assort-block h4 {
    font-weight: 300;
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 17px;
}

#assort-block table {
    font-size: 15px;
    width: 210px;
}

#assort-block table tr td:first-child {
    color: #888888;
}

#assort-block table tr td:last-child {
    color: #287c1f;
    text-align: right;
}

#assort-block .x-assort-row {
    padding-left: 32px;
    margin-top: 20px;
    margin-bottom: 31px;
}

#assort-block .x-assort-col {
    width: 385px;
    padding: 0;
    margin-left: 15px;
}

#assort-block .x-button {
    margin: 19px auto 34px;
    padding: 11px 28px 10px;
}

/* * * * * *
 * footer  *
 * * * * * */

#footer {
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 1280px;
    height: 364px;
    margin: 0 auto;
    clear: both;
}

#footer .footer {
    background-color: #e4e4e4;
    height: 300px;
}

#footer .license {
    font-size: 17px;
    font-weight: 300;
    color: #888888;
    padding-top: 22px;
    padding-left: 40px;
}

#footer img#footer-logo {
    margin-top: 42px;
    margin-left: 35px;
}

#footer h4 {
    font-size: 17px;
    font-weight: 300;
    margin-top: 39px;
    padding-left: 11px;
    margin-bottom: 21px;
}

#footer .contacts {
    margin-top: 16px;
    padding-left: 37px;
    font-size: 17px;
    margin-left: 12px;
    height: 29px;
    background: url('../images/icons.png') no-repeat;
}

#footer .contacts span:first-child {
    color: #749471;
}

#footer .contacts span:last-child {
    color: #888888;
}

#footer .phone {
    background-position-y: -45px;
}

#footer .email {
    background-position-y: -91px;
}

#footer .email a {
    color: #888888;
    text-decoration: underline;
}

#footer .x-map-col {
    padding: 0;
    margin-left: -13px;
}

#footer .x-map-col h4 {
    padding-left: 0;
}

#footer .x-copyright {
    float: right;
    margin-right: 40px;
}

#footer .x-copyright a {
    color: #287c1f;
}

/* * * * * * *
 * news page *
 * * * * * * */

.x-pageheader {
    height: 180px;
    background: url('../images/main-picture.jpg') no-repeat;
    background-position-y: -45px;
    position: relative;
}

.x-pageheader div.h3, .x-pageheader h2 {
    display: inline;
    color: white;
    font-size: 70px;
}

.x-pageheader h2 {
    position: absolute;
    top: 74px;
    right: 65px;
    text-shadow: 0 1px 40px #888888;
}

.x-pageheader a {
    color: white;
    position: absolute;
    top: 51px;
    left: 21px;
}

.x-pageheader a:hover {
    opacity: .9;
    text-shadow: 0 1px 2px rgba(0,0,0, 0.9);
}

.x-pageheader a:hover, .x-pageheader a:focus {
    text-decoration: none;
}

.x-pageheader a div.h3 {
    font-weight: 300;
    margin-top: 121px;
}

.x-pageheader a div.h3 span:first-child {
    font-size: 50px;
}

.x-pageheader a div.h3 span:last-child {
    font-size: 36px;
    position: relative;
    top: -9px;
    right: 18px;
}

/* * * * * * * *
 * assort page *
 * * * * * * * */

#assort-block.assort-page .x-assort-page-row {
    margin-top: 36px;
    margin-bottom: 59px;
    padding-left: 47px;
    padding-right: 25px;
}

#assort-block.assort-page .x-assort-page-row .x-assort-page-col {
    padding: 0;
}

#assort-block.assort-page .x-assort-page-row .x-assort-page-col .assortiment-description {
    color: #749471;
    font-style: italic;
    font-size: 13px;
    width: 90%;
    margin-top: 15px;
}

.x-border {
    border: 1px solid #b7b7b7 !important;
}

#assort-block.assort-page .x-assort-page-row .x-assort-page-col .x-frame {
    margin-top: 8px;

    width: 370px;
    height: 210px;
    #border: 1px solid #b7b7b7;
    white-space: nowrap;
    text-align: center;
}

#assort-block.assort-page .x-assort-page-row .x-assort-page-col .x-frame .x-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#assort-block.assort-page .x-assort-page-row table {
    font-weight: 300;
    font-size: 22px;
    width: 290px;
    line-height: 26px;
    color: #888888;
}

#assort-block.assort-page .x-assort-page-row h4 {
    margin-top: 18px;
}

#assort-block.assort-page .x-assort-page-row img {
    border: none;
}

#assort-block.assort-page .x-assort-page-row img.cake-img {
    float: none;
    clear: none;
    margin: 0;

    vertical-align: middle;
    max-width: 360px;
    max-height: 205px;   /* resize all images to 360x205  */
}

#assort-block.assort-page .x-assort-page-row img.icon-img {
    margin-top: 5px;
    margin-right: 19px;
}

/* * * * *
 * pages *
 * * * * */

#job-page, #about-page, #contact-page, #distributor-page {
    margin-top: 50px;
    color: #888888;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

#job-page a, #about-page a, #contact-page a, #distributor-page a {
    color: #287c1f;
    font-weight: 400;
}

#contact-page .x-content {
    float: right;
    margin-right: 70px;
    margin-top: 40px;
}

#contact-page #ymap {
    float: left;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 50px;
}

#contact-page #ymap > ymaps {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px;
    width: 500px !important;
    height: 350px !important;
}

/* * * * * * * *
 * pagination  *
 * * * * * * * */

.x-pagination {
    margin-top: 30px;
}

.x-pagination ul li a {
    color: #287c1f;
    font-weight: 300;
    border-color: #b7b7b7 !important;
    line-height: normal !important;
    padding: 10px 16px !important;
}

.x-pagination ul li a:hover, .x-pagination ul li a:focus {
    color: #287c1f !important;
}

.x-pagination ul li.active a {
    background-color: #e4e4e4 !important;
    border-color: #b7b7b7 !important;
    color: #888888 !important;
}


@media screen and (max-width: 1280px) {

    .main-logo-bar img {
        margin-left: 0;
    }

    .phone-text {
        font-size: 20px;
    }

    #main-menu {
        font-size: 22px;
    }

    #main-menu ul li, #main-menu ul li.x-active {
        padding: 20px 14px;
    }

    #main-menu ul li:hover {
        padding: 20px 14px;
    }

    #main-menu.assortiment-menu ul li, #main-menu.assortiment-menu ul li.x-active  {
        padding: 15px 14px;
    }

    #main-menu.assortiment-menu ul li:hover {
        padding: 15px 13px;
    }

    #news-block .x-news-col {
        padding: 0;
        width: 29%;
        margin-left: 16px;
        margin-right: 14px;
    }

    #news-block p {
        font-size: 14px;
    }

    #news-block .x-row {
        margin-top: 20px;
        margin-left: 17px;
    }

    #news-block h3, #assort-block h3, .news-block h3 {
        font-size: 22px;
    }

    #assort-block nav {
        font-size: 15px;
    }

    #assort-block ul li a {
        padding: 10px 12px;
    }

    #assort-block h4 {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 17px;
    }

    #assort-block .x-assort-col {
        width: 31%;
    }

    #assort-block .x-assort-row .x-assort-col .x-frame img {
        max-width: 96%;
    }

    #assort-block .x-assort-row .x-assort-col .x-frame {
        margin-right: 10px;
        margin-top: 8px;

        width: 110px;
        height: 110px;
    }

    #assort-block table {
        font-size: 12px;
        width: 55%;
    }

    /*#footer {
        width: 90%;
        height: 364px;
    }*/

    #footer .footer {
        height: 270px;
    }

    #footer img#footer-logo {
        margin-top: 42px;
        margin-left: 0;
        max-width: 100%;
    }

    #footer h4 {
        font-size: 15px;
        margin-top: 39px;
        padding-left: 0;
        margin-bottom: 21px;
    }

    #footer .contacts {
        margin-top: 12px;
        padding-left: 37px;
        font-size: 14px;
        margin-left: 0;
        height: 29px;
    }

    #footer .x-map-col {
        padding: 0;
        margin-left: 0;
    }

    #footer .x-map-col img {
        max-width: 95%;
        height: inherit;
    }

    #footer .license {
        font-size: 15px;
        padding-top: 15px;
        padding-left: 40px;
    }

    .x-pageheader div.h3, .x-pageheader h2 {
        font-size: 55px;
    }

    #assort-block.assort-page .x-assort-page-row .x-assort-page-col .x-frame {
        width: 90%;
        min-height: 210px;
    }

    #assort-block.assort-page .x-assort-page-row img.cake-img {
        max-width: 97%;
        max-height: 97%;
    }

    #assort-block.assort-page .x-assort-page-row img.icon-img {
        margin-top: 5px;
        margin-right: 10px;
        max-width: 55px;
    }

    #assort-block.assort-page .x-assort-page-row table {
        font-size: 18px;
        width: 70%;
    }

    #job-page, #about-page, #contact-page, #distributor-page {
        padding: 0 30px;
        font-size: 18px;
    }

    #contact-page .x-content {
        width: 53%;
        margin-right: 0;
    }

    #contact-page #ymap {
        margin-top: 0;
        margin-left: 20px;
        width: 42%;
    }

    #contact-page #ymap > ymaps {
        padding: 4px;
        width: 100% !important;
        height: 350px !important;
    }

    div.news-block div.full-news-text {
        font-size: 18px;
    }

}

@media screen and (max-width: 1096px) {
    #main-menu {
        font-size: 17px;
    }
}

