.main-wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.main-logo-bar {
    height: 151px;
}

.main-logo-bar img {
    margin-left: 82px;
    margin-top: 7px;
}

.x-float-left {
    float: left;
}

.header-gray {
    background-color: #ededed;
}

.green-text {
    color: #287c1f;
}

#header-phone {
    background-image: url('../images/phone-icon.png');
    background-repeat: no-repeat;
    background-position-y: center;
    margin-top: 62px;
    margin-left: 21px;
    padding-left: 33px;
}

.phone-text {
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

#top-bar {
    height: 51px;
}

/* * * * * * *
 * main-menu *
 * * * * * * */

#main-menu {
    font-size: 24px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #ededed;
}

#main-menu ul {
    margin-top: 1px;
    margin-left: 59px;
}

#main-menu ul li {
    padding: 29px 22px;
}

#main-menu ul li a {
    padding: 0;
    color: #333333;
}

#main-menu ul li:hover {
    background-color: #e4e4e4;
}

#main-menu a:hover, #main-menu a:focus {
    text-decoration: none;
}

/*
ul.horiz-menu {
    list-style-type: none;
}

ul.horiz-menu li {
    display: block;
    float: left;
}
*/

/* * * * * * *
 * carousel  *
 * * * * * * */

#my-carousel ol {
    bottom: 0;
    left: 640px;
}

#my-carousel ol li {
    border-color: #bfbfbf;
    background-color: #bfbfbf;
    width: 14px;
    height: 14px;
    margin: 0 3px;
}

#my-carousel ol li.active {
    border-color: #287c1f;
    background-color: #287c1f;
}

/* * * * * * * *
 * news-block  *
 * * * * * * * */

#news-block {
    margin-top: 19px;
}

#news-block h3 {
    margin-left: 31px;
    font-weight: 300;
    font-size: 26px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    width: 270px;
}

#news-block .x-row {
    margin-top: 40px;
    margin-left: 17px;
}

#news-block h4 {
    margin-top: 18px;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 300;
}

#news-block p {
    font-size: 16px;
    color: #888888;
    margin-bottom: 15px;
    line-height: 19px;
}

#news-block p:first-letter {
    color: #ffffff;
    background-color: #287c1f;
    font-size: 22px;
    font-weight: bold;
    padding: 11px 8px;
    margin-right: 14px;
    float: left;
}

#news-block .x-news-col {
    padding: 0;
    width: 370px;
    margin-left: 16px;
    margin-right: 14px;
}

#news-block .date {
    background-image: url('../images/calendar-icon.png');
    background-repeat: no-repeat;
    background-position-y: 1px;
    padding-left: 21px;
    color: #287c1f;
    font-size: 14px;
    font-weight: 300;
}

#news-block .x-button {
    background-color: #287c1f;
    border: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    display: block;
    padding: 11px 18px 10px;
    margin: 36px auto;
}

#news-block .x-button:hover {
    background-color: #21621A;
}
